force-app/main/default/flows/Redemption_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>checkPass</name>
        <label>checkPass</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifcorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserRecord.User_Password__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Password</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Record</targetReference>
            </connector>
            <label>ifcorrect</label>
        </rules>
        <rules>
            <name>ifIncorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserRecord.User_Password__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Password</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>ifIncorrect</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectedUserData</name>
        <dataType>String</dataType>
        <displayField>User_Liginname__c</displayField>
        <object>User__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserRecordSet</name>
        <dataType>String</dataType>
        <displayField>User_Liginname__c</displayField>
        <object>User__c</object>
        <sortField>User_Liginname__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculateRemainingRedPoints</name>
        <dataType>Number</dataType>
        <expression>{!GetUserRecord.Redemption_Points__c}-{!Enter_Redemption_Points}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Redemption Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Redemption Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetUserRecord</name>
        <label>GetUserRecord</label>
        <locationX>517</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Liginname__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUserRedPoints</name>
        <label>UpdateUserRedPoints</label>
        <locationX>945</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Congo_Redeemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Liginname__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Username</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Redemption_Points__c</field>
            <value>
                <elementReference>CalculateRemainingRedPoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Points_Last_Reimburse_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>User__c</object>
    </recordUpdates>
    <screens>
        <name>Congo_Redeemption</name>
        <label>Congo Redeemption</label>
        <locationX>1040</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Congo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Congratulations !!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Select_Username} have redeemed {!Enter_Redemption_Points} Points.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserInfo</name>
            <fieldText>&lt;p&gt;User Full Name - {!GetUserRecord.First_Name__c} {!GetUserRecord.User_s_Last_Name__c}&lt;/p&gt;&lt;p&gt;Email - {!GetUserRecord.Email__c}&lt;/p&gt;&lt;p&gt;Last Redeemption Date - {!GetUserRecord.User_Points_Last_Reimburse_Date__c}&lt;/p&gt;&lt;p&gt;Total Remaining Points - {!CalculateRemainingRedPoints}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>814</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMes</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 0, 0);&quot;&gt;Dear &lt;/strong&gt;&lt;strong style=&quot;color: rgb(253, 0, 0); font-size: 16px;&quot;&gt;{!Select_Username}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(253, 0, 0);&quot;&gt;, You have entered Wrong Password!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 0, 0);&quot;&gt;Please re-enter Correct password.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redemption</name>
        <label>Log in for Redemption</label>
        <locationX>411</locationX>
        <locationY>285</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetUserRecord</targetReference>
        </connector>
        <fields>
            <name>Select_Username</name>
            <choiceReferences>UserRecordSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Username</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Password</name>
            <fieldText>Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Record</name>
        <label>User Record</label>
        <locationX>818</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateUserRedPoints</targetReference>
        </connector>
        <fields>
            <name>UserRecDisplay</name>
            <fieldText>&lt;p&gt;User Name - {!GetUserRecord.First_Name__c} {!GetUserRecord.User_s_Last_Name__c}.&lt;/p&gt;&lt;p&gt;Last Redemption Date - {!GetUserRecord.User_Points_Last_Reimburse_Date__c}&lt;/p&gt;&lt;p&gt;Total Redemption Points - {!GetUserRecord.Redemption_Points__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Redemption_Points</name>
            <dataType>Number</dataType>
            <fieldText>Enter Redemption Points</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Redemption Points should be less than {!GetUserRecord.Redemption_Points__c}.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Enter_Redemption_Points}&lt;{!GetUserRecord.Redemption_Points__c}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Redemption</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
