force-app/main/default/flows/User_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <dynamicChoiceSets>
        <name>secretques</name>
        <dataType>String</dataType>
        <displayField>Secret_question__c</displayField>
        <object>User__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SecretQuesPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Secret_question__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>User Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_user</name>
        <label>Create user</label>
        <locationX>592</locationX>
        <locationY>275</locationY>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>D_O_B_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secret_answer__c</field>
            <value>
                <elementReference>Secret_Answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secret_question__c</field>
            <value>
                <elementReference>Please_select_secret_question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Address__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Password__c</field>
            <value>
                <elementReference>Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Phone__c</field>
            <value>
                <elementReference>Phone_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_s_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>user_registration</name>
        <label>user registration</label>
        <locationX>363</locationX>
        <locationY>260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_user</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Password</name>
            <dataType>String</dataType>
            <fieldText>Password</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Password</name>
            <dataType>String</dataType>
            <fieldText>Confirm Password</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px; color: rgb(241, 8, 8);&quot;&gt;Password didn&apos;t matched.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirm_Password}={!Password}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>D_O_B_edit</name>
            <dataType>Date</dataType>
            <fieldText>D.O.B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_no</name>
            <dataType>String</dataType>
            <fieldText>Phone no.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_select_secret_question</name>
            <choiceReferences>SecretQuesPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select secret question</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secret_Answer</name>
            <dataType>String</dataType>
            <fieldText>Secret Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_agree_with_all_terms_conditions</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree with all terms &amp; conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>user_registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
